<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <div>
                <div>
                    <ol class="breadcrumb">
                        <li><%= link_to "Home",root_path %></li>
                        <li class="active">About</li>
                    </ol>
                </div>
                <div>
                    <h3>About Us</h3>
                    <hr>
                </div>
            </div>

            <div id="history" class="row-content col-sm-12">
                <div class="col-sm-7">
                    <div>
                        <h2>Our History</h2>
                        <p>Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong
                            Kong. Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.</p>
                        <p>The restaurant traces its humble beginnings to
                            <em>The Frying Pan</em>, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan.</p>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Facts at a Glance</h3>

                        </div>
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                <dt>Started</dt>
                                <dd>3 Feb.2013</dd>
                                <dt>Major Stake Holder</dt>
                                <dd>HK Fine Foods Inc.</dd>
                                <dt>Last Year's Turnover</dt>
                                <dd>$1,000,250</dd>
                                <dt>Employees</dt>
                                <dd>32</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="well">
                        <blockquote>
                            <p>You better cut the pizza in four pieces because I'm not hungry enough to eat six.</p>
                            <footer>Yogi Berra
                                <cite title="Source Title">The wit and Wisdom of Yogi Berra, Diversion Books, 2014</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>

            </div>

            <div id="corporate" class="col-sm-10 row-content">
                <div>
                    <h2>Corporate Leadership</h2>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-primary">
                            <div class="panel-heading" id="headingPeter">
                                <h3 class="panel-title">
                                    <a href="#peter" data-toggle="collapse" data-parent="#accordion">Peter Pan
                                        <small>Chief Epicurious Officer</small>
                                    </a>
                                </h3>
                            </div>
                            <div class="panel-collapse collapse in" id="peter">
                                <p>Our CEO, Peter, credits his hardworking East Asian immigrant parents who undertook the arduous journey to the shores of America with the intention of giving their children the best future. His mother's wizardy in the kitchen whipping up the
                                    tastiest dishes with whatever is available inexpensively at the supermarket, was his first inspiration to create the fusion cuisines for which
                                    <em>The Frying Pan</em>
                                    became well known. He brings his zeal for fusion cuisines to this restaurant, pioneering cross-cultural culinary connections.</p>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading" id="headingdanny">
                                <h3 class="panel-title">
                                    <a href="#danny" data-toggle="collapse" data-parent="#accordion">Dhanasekaran Witherspoon
                                        <small>Chief Food Officer</small>
                                    </a>
                                </h3>
                            </div>
                            <div class="panel-collapse collapse" id="danny">
                                <p>Our CFO, Danny, as he is affectionately referred to by his colleagues, comes from a long established family tradition in farming and produce. His experiences growing up on a farm in the Australian outback gave him great appreciation for varieties
                                    of food sources. As he puts it in his own words,
                                    <em>Everything that runs, wins, and everything that stays, pays!</em>
                                </p>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading" id="headingagumbe">
                                <h3 class="panel-title">
                                    <a href="#agumbe" data-toggle="collapse" data-parent="#accordion">Agumbe Tang
                                        <small>Chief Taste Officer</small>
                                    </a>
                                </h3>
                            </div>
                            <div class="panel-collapse collapse" id="agumbe">
                                <p>Blessed with the most discerning gustatory sense, Agumbe, our CFO, personally ensures that every dish that we serve meets his exacting tastes. Our chefs dread the tongue lashing that ensues if their dish does not meet his exacting standards. He
                                    lives by his motto,
                                    <em>You click only if you survive my lick.</em>
                                </p>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading" id="headingalberto">
                                <h3 class="panel-title">
                                    <a href="#alberto" data-toggle="collapse" data-parent="#accordion">Alberto Somayya
                                        <small>Executive Chef</small>
                                    </a>
                                </h3>
                            </div>
                            <div class="panel-collapse collapse" id="alberto">
                                <p>Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary world, he specializes in creating mouthwatering Indo-Italian fusion experiences. He says,
                                    <em>Put together the cuisines from the two craziest cultures, and you get a winning hit! Amma Mia!</em>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div>
                    <p style="padding:20px;"></p>
                </div>
            </div>

            <div id="facts" class="row row-content">
                <div class="col-sm-9">
                    <h2>Facts &amp; Figures</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <td>&nbsp;</td>
                                <th>2013</th>
                                <th>2014</th>
                                <th>2015</th>
                            </tr>
                            <tr>
                                <th>Employees</th>
                                <td>15</td>
                                <td>23</td>
                                <td>32</td>
                            </tr>
                            <tr>
                                <th>Guest Served</th>
                                <td>15000</td>
                                <td>25000</td>
                                <td>34000</td>
                            </tr>
                            <tr>
                                <th>Annual Turnover</th>
                                <td>$251,325</td>
                                <td>$750,250</td>
                                <td>$1,000,250</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

        </div>

        <nav class="hidden-xs col-sm-2" id="myScrollspy">
            <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="400">
                <li>
                    <a href="#history">Our History</a>
                </li>
                <li>
                    <a href="#corporate">Corporate</a>
                </li>
                <li>
                    <a href="#facts">Facts</a>
                </li>
            </ul>
        </nav>

    </div>

</div>
