<header class="jumbotron row-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <h1>Ristorante con Fusion</h1>
                <p style="padding:40px;"></p>
                <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations will tickle your culinary senses!</p>
            </div>

            <div class="col-sm-2">
              <p style="padding:20px"></p>
              <%= image_tag "img/logo.png", :class=>"img-responsive" %>
            </div>

            <div id="reservebutton" class="col-sm-2">
              <%= link_to "Reverse Table","#Reserve",class:"btn btn-warning", data: { toggle: "modal"} %>
            </div>

        </div>
    </div>
</header>
